.rose-theme {
  background-color: #d9f1e1;
  filter: hue-rotate(200deg); 
}

nav {
  padding: 25.5px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  text-decoration: none;
  color: red;
}
.nav-menu {
  color: red;
}

.navmenu {
  display: inline-block;

  margin-right: 72px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}

.rose-theme {
  color: green;
}
.content {
  width: 100vw;
  align-items: center;
  margin: auto;
}
.content h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 38px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 3.299999952316284px;
  text-transform: uppercase;
  color: black;
}
.content p {
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 2.4px;
  color: #373737;
}

.button-centred {
  margin-left: 420px;
  margin-top: 84px;
  margin-bottom: 90px;
  padding: 18px 43px;
  border-radius: 4px;
  background-color: red;
  width: 105px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.btn{
  display: block; 
  padding-top: 20px;
  margin-left: 50px;
  width: 100px;
  border-radius: 4px;
  background-color: rgb(92, 182, 182);
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  border: none;

}

footer {

  text-align: right;
 
}
.footer-copyright {
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  margin-bottom: 20px;
  margin-right: 10px;
  /* margin: 40px 105px 29px 713px; */
}
